body{
    background-color: #d0efff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h3{
    color: #aaaaaa;
}

.post{
    margin: 2em;
    border: 1px solid #000000;
    padding: 1em;
}

#title-section{
    border: 1px solid #000000;
    padding: 1em;
    width: 50%;
    margin: auto;
    text-align: center;
}

/* created a css class for the darkModeButton which is called dark-mode-button */
.dark-mode-button{
    background-color: #222;
    color: #e6e6e6;
}


/* ------------------------------ */
/* for the favourites button */
.fav-btn{
    display: flex;
    font-size: 17px;
    justify-content:flex-end;
    
}

.addToFavourite {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    user-select: none;
    color: rgb(246, 85, 139);
  
    
   
  }

.addToFavourite:hover {
    color: yellow;
  }

  /* ------------------------------ */
/* blog forms */
  #form{
      display: flex;
      justify-content:center;
      flex-direction: column;
    
  }

  .text-field{
      width: 25%;
      padding: 20px;
      margin-top: 20px;

  }